<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^config" />
                    <action type="Rewrite" url="config/phpinfo.php" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^ไม่พบข้อมูล.html" />
                    <action type="Rewrite" url="app/error/404.html" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^ข้อมูลรถ_(.*).html" />
                    <action type="Rewrite" url="app/overview/overview.php?reg={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^เข้าสู่ระบบ.html" />
                    <action type="Rewrite" url="app/authentication/login.php" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^ทะเบียน_(.*).html" />
                    <action type="Rewrite" url="app/authentication/login.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^ออกจากระบบ.html" />
                    <action type="Rewrite" url="app/authentication/logout.php" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^ยินดีต้อนรับ.html" />
                    <action type="Rewrite" url="app/welcome/welcome.php" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^หน้าหลัก.html" />
                    <action type="Rewrite" url="app/landingpage/index.php" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^ภาพรวม.html" />
                    <action type="Rewrite" url="app/dashboard/index.php" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^ข้อมูลเว็บ.html" />
                    <action type="Rewrite" url="app/setting_manage/setting.php" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^แก้ไขข้อมูลเว็บ-(.*).html" />
                    <action type="Rewrite" url="app/setting_manage/setting.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^จัดการสมาชิก.html" />
                    <action type="Rewrite" url="app/user_manage/usermain.php" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^เพิ่มสิทธิ์สมาชิก.html" />
                    <action type="Rewrite" url="app/user_manage/usermainform.php" />
                </rule>
                <rule name="Imported Rule 15" stopProcessing="true">
                    <match url="^ข้อมูลสมาชิกรหัส-(.*).html" />
                    <action type="Rewrite" url="app/user_manage/usermainform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16" stopProcessing="true">
                    <match url="^จัดการเมนู.html" />
                    <action type="Rewrite" url="app/menu_manage/menumain.php" />
                </rule>
                <rule name="Imported Rule 17" stopProcessing="true">
                    <match url="^แก้ไขเมนูหลัก-(.*).html" />
                    <action type="Rewrite" url="app/menu_manage/menumainedit.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 18" stopProcessing="true">
                    <match url="^จัดการเมนูย่อย-(.*).html" />
                    <action type="Rewrite" url="app/menu_manage/menusub.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 19" stopProcessing="true">
                    <match url="^แก้ไขเมนูย่อย-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/menu_manage/menusubedit.php?id={R:1}&amp;mid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 20" stopProcessing="true">
                    <match url="^จัดการสิทธิ์.html" />
                    <action type="Rewrite" url="app/role_manage/rolemain.php" />
                </rule>
                <rule name="Imported Rule 21" stopProcessing="true">
                    <match url="^แก้ไขข้อมูลสิทธิ์-(.*).html" />
                    <action type="Rewrite" url="app/role_manage/rolemainform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 22" stopProcessing="true">
                    <match url="^สิทธิ์ใช้งานเมนู-(.*).html" />
                    <action type="Rewrite" url="app/role_manage/rolesub.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23" stopProcessing="true">
                    <match url="^เพิ่มสิทธิ์ใช้งานเมนู-(.*).html" />
                    <action type="Rewrite" url="app/role_manage/rolesubform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 24" stopProcessing="true">
                    <match url="^แก้ไขสิทธิ์ใช้งานเมนู-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/role_manage/rolesubform.php?id={R:1}&amp;rmid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 25" stopProcessing="true">
                    <match url="^จัดการข้อมูลรถ.html" />
                    <action type="Rewrite" url="app/car_manage/customer.php" />
                </rule>
                <rule name="Imported Rule 26" stopProcessing="true">
                    <match url="^รถของบริษัท-(.*).html" />
                    <action type="Rewrite" url="app/car_manage/car.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 27" stopProcessing="true">
                    <match url="^จัดการสายงาน.html" />
                    <action type="Rewrite" url="app/checklist_manage/linework.php" />
                </rule>
                <rule name="Imported Rule 28" stopProcessing="true">
                    <match url="^แก้ไขสายงาน-(.*).html" />
                    <action type="Rewrite" url="app/checklist_manage/lineworkform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 29" stopProcessing="true">
                    <match url="^ข้อมูลแบบฟอร์ม-(.*).html" />
                    <action type="Rewrite" url="app/checklist_manage/sheet.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 30" stopProcessing="true">
                    <match url="^แก้ไขแบบฟอร์ม-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/checklist_manage/sheetform.php?id={R:1}&amp;get={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 31" stopProcessing="true">
                    <match url="^ข้อมูลรายการตรวจสอบ-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/checklist_manage/sheetlist.php?id={R:1}&amp;get={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 32" stopProcessing="true">
                    <match url="^เพิ่มรายการตรวจสอบ-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/checklist_manage/sheetlistform.php?id={R:1}&amp;get={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 33" stopProcessing="true">
                    <match url="^เพิ่มรายการตรวจสอบ_4L-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/checklist_manage/sheetlistform_gw.php?id={R:1}&amp;get={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 34" stopProcessing="true">
                    <match url="^แก้ไขรายการตรวจสอบ-(.*)-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/checklist_manage/sheetlistform.php?id={R:1}&amp;get={R:2}&amp;shl={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 35" stopProcessing="true">
                    <match url="^แก้ไขรายการตรวจสอบ_4L-(.*)-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/checklist_manage/sheetlistform_gw.php?id={R:1}&amp;get={R:2}&amp;shl={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 36" stopProcessing="true">
                    <match url="^ใบตรวจสภาพ.html" />
                    <action type="Rewrite" url="app/checksheet_manage/checksheet.php" />
                </rule>
                <rule name="Imported Rule 37" stopProcessing="true">
                    <match url="^ใบตรวจสภาพรถอมตะ_(.*)_(.*)_(.*)_(.*)_(.*).html" />
                    <action type="Rewrite" url="app/checksheet_manage/checksheetquestion.php?num={R:1}&amp;regis={R:2}&amp;shid={R:3}&amp;time={R:4}&amp;datenow={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 38" stopProcessing="true">
                    <match url="^ใบตรวจสภาพรถเกตเวย์_(.*)_(.*)_(.*)_(.*)_(.*).html" />
                    <action type="Rewrite" url="app/checksheet_manage/checksheetquestion.php?num={R:1}&amp;regis={R:2}&amp;shid={R:3}&amp;time={R:4}&amp;datenow={R:5}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 39" stopProcessing="true">
                    <match url="^รายงานตรวจสอบสภาพรายวัน.html" />
                    <action type="Rewrite" url="app/report_manage/report_daily.php" />
                </rule>
                <rule name="Imported Rule 40" stopProcessing="true">
                    <match url="^รายงานตรวจสอบสภาพรายวัน_(.*)_ช่วงเวลา_(.*).html" />
                    <action type="Rewrite" url="app/report_manage/report_daily.php?datenow={R:1}&amp;periodtime={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 41" stopProcessing="true">
                    <match url="^ยืนยันการตรวจสอบรายวันของรถทะเบียน_(.*)_วันที่_(.*)_ช่วงเวลา_(.*)_(.*)" />
                    <action type="Rewrite" url="app/report_manage/report_daily_check.php?regis={R:1}&amp;datenow={R:2}&amp;time={R:3}&amp;area={R:4}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 42" stopProcessing="true">
                    <match url="^รายงานการตรวจสอบรายวันของรถทะเบียน_(.*)_วันที่_(.*)_ช่วงเวลา_(.*)_(.*).pdf" />
                    <action type="Rewrite" url="app/report_manage/report_daily_pdf_20241227.php?regis={R:1}&amp;datenow={R:2}&amp;time={R:3}&amp;area={R:4}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 43" stopProcessing="true">
                    <match url="^รายงานการสรุปรายเดือน.html" />
                    <action type="Rewrite" url="app/report_manage/report_monthly.php" />
                </rule>
                <rule name="Imported Rule 44" stopProcessing="true">
                    <match url="^รายงานการสรุปรายเดือนของบริษัท-(.*).html" />
                    <action type="Rewrite" url="app/report_manage/report_monthly_customer.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 45" stopProcessing="true">
                    <match url="^รายงานอมตะสรุปรายเดือน_(.*)_ของรถทะเบียน_(.*)_ช่วงเวลา_(.*)_ปี_(.*).pdf" />
                    <action type="Rewrite" url="app/report_manage/report_monthly_amt_pdf.php?month={R:1}&amp;regis={R:2}&amp;time={R:3}&amp;year={R:4}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 46" stopProcessing="true">
                    <match url="^รายงานเกตเวย์สรุปสัปดาห์ที่_(.*)_ของรถทะเบียน_(.*)_ช่วงเวลา_(.*)_ปี_(.*).pdf" />
                    <action type="Rewrite" url="app/report_manage/report_monthly_gw_pdf.php?month={R:1}&amp;regis={R:2}&amp;time={R:3}&amp;year={R:4}" appendQueryString="false" />
                </rule>
                
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
